body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
.header-logo {
    border: 90px solid rgb(48, 44, 48);
    height: 80px; 
    margin-bottom: 80px; 
}

main {
    display: grid;
    grid-template-rows: auto 0fr;
    gap: 01em;
    padding: 1rem;
    border: 60px solid hwb(33 90% 5%);
}

.intro {
    border: 0px solid rgba(255, 40, 255, 0.828);
    height: 166px; 
    background-color:hwb(33 90% 5%);
    margin-bottom: 0px; 
}

.intro h1 {
    margin:  0;
    font-size: 30px;
    color:rgb(114, 112, 114)    
}
 

.intro p {
    margin: 10px 0px 0px;
    font-size: 10px;
    color:rgba(138, 48, 96, 0.776)    
}

.content {
    display: grid;
    grid-template-columns: 0fr 2fr;
    gap: 1rem;
    border: 1px hwb(37 14% 81%);
}
.formatos img {
height: 400%; 
max-height: 150px;
width: 150px;
}

.description, .quote {
    border: 0px solid hwb(33 90% 5%);
    height: 40px;

}
.footer {
    border: 9px solid  hwb(33 90% 5%);
    height: 6px;
    padding: 3rem;
}

@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .header-logo,
    .header-nav {
        height: auto;
    }

    .content {
        grid-template-columns: 1fr;
    }
}
